[submodule "common/vim/bundle/neobundle.vim"]
	path = common/vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "core/dmgr"]
	path = core/dmgr
	url = https://github.com/gfunction/dmgr
