backup/
common/zsh.d/.zcompdump
common/xmonad/*
!common/xmonad/*.hs
common/xmonad/Gfxt/*
!common/xmonad/Gfxt/*.hs
common/.gitignore
common/vim/*
!common/vim/gvimrc
!common/vim/nvimrc
!common/vim/vimrc*
common/emacs.d/*
!common/emacs.d/init.el
core/conf/paths/_repo
core/conf/inuse.list
core/conf/plugin.list
core/plugins/*
!core/plugins/.gitkeep
bin/dmgr.debug
common/emacs.d/menu_log.notes
